.page-outline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.item-outline {
    border: solid, white;
    border-radius: 10%;
    padding: 20px;
    max-width: 300px;
}

.item-text {
    color: white;
}

.item-photo {
    border: solid, white;
    border-radius: 10%;
    padding: 50px;
    max-height: 200px;
    max-width: 200px;
}