.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.page-tabs {
    display: flex;
    gap: 20px;
}

.header-tab {
    color: white;
    text-decoration: none;
}

.shop-title {
    font-weight: bold;
    text-align: start;
    padding: 20px;
    border-top-style: solid;
    border-bottom-style: solid;
}